<div class="page-title">RSVP</div>
<div id="rsvp-container">
  <div class="header">
    <div class="page-title">Evan & Crystal</div>
    <div class="date" id="rsvp">April 5, 2015</div>
    <p>You're invited to come celebrate with us! If you have not done so already, please RSVP
      so that we can accommodate you. </p>
  </div>

  <%= form_for [current_user, @rsvp] do |f| %>
    <div id="attending">
      *Will you be attending?
    </div>

    <div class="error">
      <% if @rsvp.errors.any? %>
        <% @rsvp.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button :attending, true, type: "reset" %>
        Accept with Pleasure
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button :attending, false, type: "reset" %>
        Decline with Regret
      </label>
    </div>

    <div class="accept-options">
      <div class="number-of-guests">
        <%= f.label :number_of_guests %>
        <%= f.select :number_of_guests, (0..current_user.max_guests) %>
      </div>

      <div class="user-meal-choice">
        <%= f.label :user_food_id, "Food choice for #{current_user.name}" %>
        <%= f.collection_select(:user_food_id, @foods, :id, :name) %>
      </div>
    </div>

    <div class="guest-options">
      <% @user.guests.each_with_index do |guest, index| %>
        <div class="guest">
          <%= label_tag :guest_name %>
          <%= text_field "guest[#{index}]", :name %>
          <br>
          <%= label_tag :guest_meal_choice %>
          <%= collection_select("guest[#{index}]", :food_id, @foods, :id, :name) %>
        </div>
    <% end %>
      <br>
    </div>


    <div class="comments">
      Comments or Questions?
    </div>
    <%= f.text_area :comments, class: 'form-control' %>
    <div id="submit" class="rsvp-submit">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>

<div class="quote-bar">After all these years, I see that I was mistaken about Eve in the beginning;
  it is better to live outside the Garden with her than inside it without her.” ~ Mark Twain
</div>
