<div class="users-fullscreen-bg">

  <div class="row vertical-offset-100 reservation">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Enter reservation details below</h3>
      </div>
      <div class="panel-body">
        <%= form_tag("/reservations", method: "get") do %>
          <div class="form-group">
            <%= label_tag :arrival_date %>
            <input type="text form-group" data-behaviour='datepicker' data-date-autoclose="true" name="arrival_date"><span class="glyphicon glyphicon-calendar" data-behaviour="datepicker"  ></span>
          </div>
          <div class="form-group">
            <%= label_tag :departure_date %>
            <input type="text form-group" data-behaviour='datepicker' data-date-autoclose="true" name="departure_date"><span class="glyphicon glyphicon-calendar" data-behaviour="datepicker"></span>
          </div>
          <div class="form-group reservation-number">
            <%= label_tag :number_of_rooms %>
            <%= number_field_tag :number_of_rooms %>
          </div>
          <div class="form-group reservation-number">
            <%= label_tag :number_of_adults %>
            <%= number_field_tag :number_of_adults %>
          </div>

          <%= submit_tag("Get pricing") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="quote-bar">
  Staying in luxury hotels still gives me a kick, especially Oulton Hall in Yorkshire. I'd stay in a hotel for the
  breakfast and room service.
  Jimmy Carr
</div>

