<!DOCTYPE html>
<html>
<head>
  <title>WeddingApp</title>
  <%= stylesheet_link_tag 'application', "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if session[:logged_in] %>
    <header>
      <%= link_to 'Home', root_path %>
      <%= link_to 'RSVP', new_rsvp_path(@rsvp) %>
    </header>

<% end %>



<div id="content-wrapper">

  <%= yield %>
</div>
</body>
</html>
